.hero-bg{
  background-image: url('./img/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.hero-footer-bg{
  background-color: #ededed;

}
.box-btn
{
  width: 220px;
  height: 50px;
  background-color: #4258ff;
  
  border-radius: 12px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 4px;
}