.hero-bg {
  background-image: url('./assets/img/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.hero-footer-bg {
  background-color: #ededed;

}

html[data-theme='dark'] .hero-footer-bg {
  background-color: #222;
  color: white;
}

.box-btn {
  width: 220px;
  height: 50px;
  background-color: #4258ff;
  color: #ededed;
  border-radius: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.box-btn a {
  color: white;
}

.boton-acceso {
  box-shadow: rgba(0, 145, 255, 0.77) 3px 3px 20px, rgba(221, 18, 214, 0.77) -2px 1px 30px;
}

.personal {
  width: 300px;
  height: 150px;
  background-color: #4258ff;
  border-radius: 12px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-image: url('./assets/img/bg-usuario.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.personal img {
  border: 2px solid white;
}

.personal:hover,
.btn-home:hover {
  animation: mymove 5s infinite;
}

.btn-home:hover {
  animation: shadow 1s infinite;
}


.footer-bg {
  border-top: 2px solid yellow;
  background-image: url('./assets/img/footbanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.img-noticia {
  border-radius: 10px;
  width: 450px;
}

@keyframes mymove {
  5% {
    transform: rotate(5deg);
  }
}

@keyframes shadow {
  5% {
    filter: saturate(80%);
  }
}

@media (min-width: 575px) {
  .personal {
    width: 350px;
  }
}